* {
    margin: 0%;
    padding: 0%;
    height: 99%;
    width: 100%;
    background-color: #89C4E1;
}

.text-center {
    text-align: center;
}

.text-color {
    color: #1A0000;
    background-color: #F5EDCE;
}

.base-border {
    border: solid 4px;
    border-color: #58287F;
}

#screen {
    display: inline-grid;
    margin-top: 1%;
    grid-template-columns: repeat(3, 30%);
    column-gap: 2%;
    grid-template-rows: 8% 60% 28%;
    row-gap: 2%;
    justify-content: center;
    align-items: center;
}

#title-div {
    grid-column: 1 / 4;
}

#button-div {
    grid-column: 1 / 1;
}

#view-div {
    grid-column: 2 / 4;
}

#good-travelers-div {
    text-decoration: underline;
}

#evil-travelers-div {
    text-decoration: underline;
}

#unsure-travelers-div {
    text-decoration: underline;
}