* {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    background-color: #89C4E1;
}

.hide {
    visibility: hidden;
}

.text-center {
    text-align: center;
}

.text-color {
    color: #1A0000;
}

.default-bgColor {
    background-color: #F5EDCE;
}

.base-border {
    border: solid 4px;
    border-color: #58287F;
}

#screen {
    display: inline-grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 8% 58% 29%;
    row-gap: 2%;
    column-gap: 2%;
    justify-content: center;
    align-items: center;
}

#title-div {
    display: flex;
    grid-column: 1 / 4;
    height: 84%;
    margin-top: 1%;
}

#title-text {
    height: auto;
    align-self: center;
}

#button-div {
    grid-column: 1 / 1;
    width: 90%;
    margin-left: 5%;
}

#view-div {
    grid-column: 2 / 4;
}

#good-travelers-div {
    text-decoration: underline;
}

#evil-travelers-div {
    text-decoration: underline;
}

#unsure-travelers-div {
    text-decoration: underline;
}

#button-grid {
    display: inline-grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto 5% 10% 10% 10% 10% 10% 10%;
    row-gap: 4%;
    justify-content: center;
    align-content: center;

}

#button-title {
    grid-column: 1 / 4;
}

#action-counter {
    grid-column: 1 / 4;
}

.button-text-size {
    margin-left: 5%;
    justify-self: left;
    align-self: center;
    height: auto;
}

.button-position {
    margin-left: 5%;
    width: 80%;
    height: 70%;
    align-self: center;
}

.button-text {
    font-weight: 600;
    grid-column: 1 / 3;
}

.faded-out {
    color:#7a6363;
}

.border-radius {
    border-radius: 12px;
}